extends layout

block middle
    section.section.is-size-5
        .columns.is-centered
            .column.is-one-fifth

            .column.is-half.has-text-black
                .box
                    h1.title.is-2.has-text-centered &nbsp; #{announceId.title}
                    br
                    p.is-2 &nbsp; #{announceId.description}

            .column.is-one-fifth
                .box
                    .icon-text
                        span.icon.has-text-info
                            i.fas.fa-info-circle
                        span #{announceId.type}

                    .icon-text
                        if announcer
                            if announceId.publicationStatus === 'Published'
                                span.icon.has-text-success
                                    i.fas.fa-check-square
                                span #{announceId.publicationStatus}
                            else
                                span.icon.has-text-danger
                                    i.fas.fa-times
                                span #{announceId.publicationStatus}

                    .icon-text
                        if announceId.goodStatus === 'Available'
                            span.icon.has-text-success
                                i.fas.fa-check-square
                            span #{announceId.goodStatus}
                        else if announceId.goodStatus === 'Rented'
                            span.icon.has-text-warning
                                i.fas.fa-exclamation-triangle
                            span #{announceId.goodStatus}
                        else
                            span.icon.has-text-danger
                                i.fas.fa-times
                            span #{announceId.goodStatus}

                .box
                    .icon-text
                        span.icon.has-text-info
                            i.fas.fa-euro-sign
                        span #{announceId.price}

                .box
                    .icon-text
                        span.icon.has-text-info
                            i.far.fa-calendar-alt
                        span From &nbsp;
                        span #{announceId.firstDate.toDateString()}
                    .icon-text
                        span.icon.has-text-info
                            i.far.fa-calendar-alt
                        span To &nbsp;
                        span #{announceId.secondDate.toDateString()}

        .columns.is-centered
            .column.is-half
                figure
                    .columns.is-centered
                        if(announceId.photos.length)
                            each picture in announceId.photos
                                .column.is-one-third
                                    img(src=`/images/${picture}`)
                        else
                            .column.is-one-fifth
                                img(src='/img/notImage.jpg')

        .columns.is-centered
            .box.is-shadowless
                if announcer
                    form(action=`/announces/modify/${announceId.id}` method='GET')
                        button.button.is-success.is-rounded(type='submit' value='submit' style='display: block; margin: 0 auto;') Modify

            .box.is-shadowless
                if announcer
                    form(action=`/announces/${announceId.id}` method='POST')
                        button.button.is-danger.is-rounded(type='submit' value='submit' style='display: block; margin: 0 auto;') Delete

        .columns.is-centered
            .column.is-half
                article.media
                    .media-content
                        .content
                            p
                                strong John Smith
                                br
                                |   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu
                                |   pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                                br
                                small
                                    a Reply

        .columns.is-centered
            .column.is-half
                article.media
                    .media-content
                        .field
                            p.control
                                textarea.textarea(placeholder='Add a comment...')
                        nav.level
                              .level-item
                                a.button.is-success Post comment

