extends layout

block heroFoot
    // Hero footer: will stick at the bottom
    section.hero
        .is-primary
            .is-small
                .has-background-info
                    .hero-foot
                        nav.breadcrumb.is-centered(aria-label='breadcrumbs')
                            .has-bullet-separator
                                ul
                                    li
                                        a(href='/').has-text-white
                                            span.icon.is-small
                                                i.fas.fa-home(aria-hidden='true')
                                            span Home
                                    li
                                        a(href='../announces').has-text-white
                                            span.icon.is-small
                                                i.fas.fa-list-ul(aria-hidden='true')
                                            span Announces
                                    li
                                        a(href='../form').has-text-white
                                            span.icon.is-small
                                                i.far.fa-file-alt(aria-hidden='true')
                                            span Add an announce
                                    li
                                        a(href='../about').has-text-white
                                            span.icon.is-small
                                                i.far.fa-question-circle(aria-hidden='true')
                                            span About
                                    li
                                        a(href='../login').has-text-white
                                            span.icon.is-small
                                                i.fas.fa-plug(aria-hidden='true')
                                            span Login    
                                    li
                                        a(href='../signup').has-text-white
                                            span.icon.is-small
                                                i.fas.fa-sign-in-alt(aria-hidden='true')
                                            span Sign up      
                                    form(action='../login/logout' method='post')
                                      button.btn-link(type='submit' name='logout' value='logout') Log out            

block middle
    section.section
        .columns.is-mobile.is-centered.has-text-black
            .column.is-half
                .box
                    .columns.is-gapless
                        .column.is-one-quarter
                            figure
                                img(src='https://bulma.io/images/placeholders/128x128.png')
                        .column
                            p.title.is-2 #{announceId.title}

                            p.h2.subtitle #{announceId.description}

            .column.is-one-fifth
                .box
                    .icon-text
                        span.icon.has-text-info
                            i.fas.fa-info-circle
                        span #{announceId.type}

                    .icon-text
                        if announceId.publicationStatus === 'Published'
                            span.icon.has-text-success
                                i.fas.fa-check-square
                            span #{announceId.publicationStatus}
                        else
                            span.icon.has-text-danger
                                i.fas.fa-times
                            span #{announceId.publicationStatus}

                    .icon-text
                        if announceId.goodStatus === 'Available'
                            span.icon.has-text-success
                                i.fas.fa-check-square
                            span #{announceId.goodStatus}
                        else if announceId.goodStatus === 'Rented'
                            span.icon.has-text-warning
                                i.fas.fa-exclamation-triangle
                            span #{announceId.goodStatus}
                        else
                            span.icon.has-text-danger
                                i.fas.fa-times
                            span #{announceId.goodStatus}
                .box.is-shadowless
                    if announcer
                        form(action=`/announces/${announceId.id}/modify` method='POST')
                            button.button.is-success.is-rounded(type='submit' value='submit' style='display: block; margin: 0 auto;') Modify

            .column.is-one-fifth
                .box
                    .icon-text
                        span.icon.has-text-info
                            i.fas.fa-euro-sign
                        span #{announceId.price}
                    .icon-text
                        span.icon.has-text-info
                            i.far.fa-calendar-alt
                        span From &nbsp;
                        span #{announceId.firstDate.toDateString()}
                    .icon-text
                        span.icon.has-text-info
                            i.far.fa-calendar-alt
                        span To &nbsp;
                        span #{announceId.secondDate.toDateString()}
                .box.is-shadowless
                    if announcer
                        form(action=`/announces/${announceId.id}` method='POST')
                            button.button.is-danger.is-rounded(type='submit' value='submit' style='display: block; margin: 0 auto;') Delete
