extends layout         

block middle
    section.section
        .columns.is-mobile.is-centered.has-text-black
            .column.is-half
                .box
                    .columns.is-gapless
                        .column.is-one-quarter
                            figure
                                img(src='https://bulma.io/images/placeholders/128x128.png')
                        .column
                            p.title.is-2 #{announceId.title}

                            p.h2.subtitle #{announceId.description}

            .column.is-one-fifth
                .box
                    .icon-text
                        span.icon.has-text-info
                            i.fas.fa-info-circle
                        span #{announceId.type}

                    .icon-text
                        if announceId.goodStatus === 'Available'
                            span.icon.has-text-success
                                i.fas.fa-check-square
                            span #{announceId.goodStatus}
                        else if announceId.goodStatus === 'Rented'
                            span.icon.has-text-warning
                                i.fas.fa-exclamation-triangle
                            span #{announceId.goodStatus}
                        else
                            span.icon.has-text-danger
                                i.fas.fa-times
                            span #{announceId.goodStatus}

                .box
                    .icon-text
                        span.icon.has-text-info
                            i.fas.fa-euro-sign
                        span #{announceId.price}
                    .icon-text
                        span.icon.has-text-info
                            i.far.fa-calendar-alt
                        span From &nbsp;
                        span #{announceId.firstDate.toDateString()}
                    .icon-text
                        span.icon.has-text-info
                            i.far.fa-calendar-alt
                        span To &nbsp;
                        span #{announceId.secondDate.toDateString()}

            .column.is-one-fifth
                .box.is-shadowless
                    if announcer
                        form(action=`/announces/modify/${announceId.id}` method='GET')
                            button.button.is-success.is-rounded(type='submit' value='submit' style='display: block; margin: 0 auto;') Modify

                .box.is-shadowless
                    if announcer
                        form(action=`/announces/${announceId.id}` method='POST')
                            button.button.is-danger.is-rounded(type='submit' value='submit' style='display: block; margin: 0 auto;') Delete
