extends layout

block heroFoot
    // Hero footer: will stick at the bottom
    section.hero
        .is-primary
            .is-small
                .has-background-info
                    .hero-foot
                        nav.breadcrumb.is-centered(aria-label='breadcrumbs')
                            .has-bullet-separator
                                ul
                                    li
                                        a(href='/').has-text-white
                                            span.icon.is-small
                                                i.fas.fa-home(aria-hidden='true')
                                            span Home
                                    li.is-active.has-text-black
                                        a.has-text-black
                                            span.icon.is-small
                                                i.fas.fa-list-ul(aria-hidden='true')
                                            span Announces
                                    li
                                        a(href='../form').has-text-white
                                            span.icon.is-small
                                                i.far.fa-file-alt(aria-hidden='true')
                                            span Add an announce
                                    li
                                        a(href='about').has-text-white
                                            span.icon.is-small
                                                i.far.fa-question-circle(aria-hidden='true')
                                            span About

block middle
    section.section
        .notification.is-primary.has-background-link-light
            if announces.length
                table.table.has-text-black.has-text-centered.is-hoverable.is-striped.is-fullwidth.has-background-link-light
                    thead
                        tr
                            th Pictures
                            th Title
                            th Type
                            th Publication's status
                            th Good's status
                            th Description
                            th Price
                            th Available date
                            th to
                    tbody
                    each announce in announces
                        tr
                            th
                                a(href=`announces/${announce.pictures}`) #{announce.pictures}
                            th
                                a(href=`announces/${announce.id}`) #{announce.title}
                            td= announce.type
                            td= announce.publicationStatus
                            td= announce.goodStatus
                            td= announce.description
                            td= announce.price
                            td= announce.firstDate.toDateString()
                            td= announce.secondDate.toDateString()
            else
                p.has-text-black No announces yet :(