extends layout

block middle
    section.section
        if announces.length
            each announce in announces.reverse()
                if announcer || announce.publicationStatus === 'Published'
                    .columns.is-mobile.is-centered.has-text-black
                        .column
                            .columns.is-centered
                                .column.is-half
                                    .box
                                        a(href=`announces/${announce.id}`)
                                            .columns
                                                .column.is-one-fifth
                                                    figure
                                                        if(announce.photos.length)
                                                            img(src=`images/${announce.photos[0]}`)
                                                        else
                                                            img(src='img/notImage.jpg')

                                                .column.is-three-quarters
                                                    p.title.is-2.has-text-centered &nbsp; #{announce.title}

                                                    p.h2.subtitle.has-text-centered &nbsp; #{announce.description}

                                .column.is-one-fifth
                                    .box
                                        .icon-text
                                            span.icon.has-text-info
                                                i.fas.fa-info-circle
                                            span #{announce.type}

                                        .icon-text
                                            if announce.goodStatus === 'Available'
                                                span.icon.has-text-success
                                                    i.fas.fa-check-square
                                                span #{announce.goodStatus}
                                            else if announce.goodStatus === 'Rented'
                                                span.icon.has-text-warning
                                                    i.fas.fa-exclamation-triangle
                                                span #{announce.goodStatus}
                                            else
                                                span.icon.has-text-danger
                                                    i.fas.fa-times
                                                span #{announce.goodStatus}

                                        .icon-text
                                            span.icon.has-text-info
                                                i.fas.fa-user
                                            span #{announce.author}

                                    if announcer
                                        .columns.is-mobile.is-centered.has-text-black
                                            .column
                                                .box
                                                    .icon-text
                                                        if announce.publicationStatus === 'Published'
                                                            span.icon.has-text-success
                                                                i.fas.fa-check-square
                                                            span #{announce.publicationStatus}
                                                        else
                                                            span.icon.has-text-danger
                                                                i.fas.fa-times
                                                            span #{announce.publicationStatus}

                                .column.is-one-fifth
                                    .box
                                        .icon-text
                                            span.icon.has-text-info
                                                i.fas.fa-euro-sign
                                            span #{announce.price}

                                        .icon-text
                                            span.icon.has-text-info
                                                i.far.fa-calendar-alt
                                            span From &nbsp;
                                            span #{announce.firstDate.toDateString()}
                                        .icon-text
                                            span.icon.has-text-info
                                                i.far.fa-calendar-alt
                                            span To &nbsp;
                                            span #{announce.secondDate.toDateString()}


        else
            h1.title
                .has-text-black
                    .has-text-centered No announces yet :(