extends layout

block heroFoot
    // Hero footer: will stick at the bottom
    section.hero
        .is-primary
            .is-small
                .has-background-info
                    .hero-foot
                        nav.breadcrumb.is-centered(aria-label='breadcrumbs')
                            .has-bullet-separator
                                ul
                                    li
                                        a(href='/').has-text-white
                                            span.icon.is-small
                                                i.fas.fa-home(aria-hidden='true')
                                            span Home
                                    li.is-active.has-text-black
                                        a.has-text-black
                                            span.icon.is-small
                                                i.fas.fa-list-ul(aria-hidden='true')
                                            span Announces
                                    li
                                        a(href='../form').has-text-white
                                            span.icon.is-small
                                                i.far.fa-file-alt(aria-hidden='true')
                                            span Add an announce
                                    li
                                        a(href='about').has-text-white
                                            span.icon.is-small
                                                i.far.fa-question-circle(aria-hidden='true')
                                            span About
                                    li
                                        a(href='login').has-text-white
                                            span.icon.is-small
                                                i.fas.fa-plug(aria-hidden='true')
                                            span Login    
                                    li
                                        a(href='signup').has-text-white
                                            span.icon.is-small
                                                i.fas.fa-sign-in-alt(aria-hidden='true')
                                            span Sign up
                                    form(action='login/logout' method='post')
                                      button.btn-link(type='submit' name='logout' value='logout') Log out        

block middle
    section.section
        .notification.is-primary.has-background-link-light
            if announces.length
                .table-container
                    table.table.has-text-black.has-text-centered.is-hoverable.is-striped.is-fullwidth.has-background-link-light
                        thead
                            tr
                                th Pictures
                                th Title
                                th Type
                                th Publication's status
                                th Good's status
                                th Description
                                th Price
                                th Available date
                                th to
                        tbody
                        each announce in announces
                            tr
                                th
                                    a(href=`announces/${announce.pictures}`) #{announce.pictures}
                                th
                                    a(href=`announces/${announce.id}`) #{announce.title}
                                td= announce.type
                                td= announce.publicationStatus
                                td= announce.goodStatus
                                td= announce.description
                                td= announce.price
                                td= announce.firstDate.toDateString()
                                td= announce.secondDate.toDateString()
            else
                p.has-text-black No announces yet :(

block middle
    section.section
        if announces.length
            each announce in announces
                if announcer || announce.publicationStatus === 'Published'
                    .columns.is-mobile.is-centered.has-text-black
                        .column.is-half
                            .box
                                a(href=`announces/${announce.id}`)
                                    .columns.is-gapless
                                        .column.is-one-quarter
                                            figure
                                                img(src='https://bulma.io/images/placeholders/128x128.png')
                                        .column
                                            p.title.is-2 #{announce.title}

                                            p.h2.subtitle #{announce.description}

                        .column.is-one-fifth
                            .box
                                .icon-text
                                    span.icon.has-text-info
                                        i.fas.fa-info-circle
                                    span #{announce.type}

                                .icon-text
                                    if announcer
                                        if announce.publicationStatus === 'Published'
                                            span.icon.has-text-success
                                                i.fas.fa-check-square
                                            span #{announce.publicationStatus}
                                        else
                                            span.icon.has-text-danger
                                                i.fas.fa-times
                                            span #{announce.publicationStatus}

                                .icon-text
                                    if announce.goodStatus === 'Available'
                                        span.icon.has-text-success
                                            i.fas.fa-check-square
                                        span #{announce.goodStatus}
                                    else if announce.goodStatus === 'Rented'
                                        span.icon.has-text-warning
                                            i.fas.fa-exclamation-triangle
                                        span #{announce.goodStatus}
                                    else
                                        span.icon.has-text-danger
                                            i.fas.fa-times
                                        span #{announce.goodStatus}

                        .column.is-one-fifth
                            .box
                                .icon-text
                                    span.icon.has-text-info
                                        i.fas.fa-euro-sign
                                    span #{announce.price}
                                .icon-text
                                    span.icon.has-text-info
                                        i.far.fa-calendar-alt
                                    span From &nbsp;
                                    span #{announce.firstDate.toDateString()}
                                .icon-text
                                    span.icon.has-text-info
                                        i.far.fa-calendar-alt
                                    span To &nbsp;
                                    span #{announce.secondDate.toDateString()}

        else
            p.has-text-black No announces yet :(