extends layout

block heroFoot
    // Hero footer: will stick at the bottom
    section.hero
        .is-primary
            .is-small
                .has-background-info
                    .hero-foot
                        nav.breadcrumb.is-centered(aria-label='breadcrumbs')
                            .has-bullet-separator
                                ul
                                    li
                                        a(href='/').has-text-white
                                            span.icon.is-small
                                                i.fas.fa-home(aria-hidden='true')
                                            span Home
                                    li
                                        a(href='announces').has-text-white
                                            span.icon.is-small
                                                i.fas.fa-list-ul(aria-hidden='true')
                                            span Announces
                                    li.is-active.has-text-black
                                        a
                                            span.icon.is-small
                                                i.fas.fa-home(aria-hidden='true')
                                            span Add an announce
                                    li
                                        a(href='about').has-text-white
                                            span.icon.is-small
                                                i.far.fa-question-circle(aria-hidden='true')
                                            span About
                                        li
                                        a(href='login').has-text-white
                                            span.icon.is-small
                                                i.fas.fa-plug(aria-hidden='true')
                                            span Login    
                                    li
                                        a(href='signup').has-text-white
                                            span.icon.is-small
                                                i.fas.fa-sign-in-alt(aria-hidden='true')
                                            span Sign up      
block middle
    section.section
        -data = data || {}

            if errors
                ul
                    for error in errors
                        li= error.msg

        form(action='form' method='POST')
            .columns.is-centered
                .column.is-half
                    .notification.is-primary.has-background-link-light
                        .field
                        label.label(for='title') Title
                        .control
                        input.input(type='text' required='required' id='title' name='title' placeholder='Title of your ad ...' value=data.title)

                        .field
                        label.label(for='type') Object's type
                        .control
                            .select
                                select(name='type' required='required' id='type' value=data.type)
                                    option(value='') Choose an option
                                    option(value='Sell') Sell
                                    option(value='Location') Location

                        .field
                        label.label(for='publicationStatus') Publication's status
                        .control
                            .select
                                select(name='publicationStatus' required='required' id='publicationStatus'
                                    value=data.publicationStatus)
                                    option(value='') Choose an option
                                    option(value='Published') Published
                                    option(value='Not published') Not published

                        .field
                        label.label(for='goodStatus') Object's status
                        .control
                            .select
                                select(name='goodStatus' required='required' id='goodStatus' value=data.goodStatus)
                                    option(value='') Choose an option
                                    option(value='Available') Available
                                    option(value='Rented') Rented
                                    option(value='Sold') Sold

                        .field
                        label.label(for='description') Description
                        .control
                        textarea.textarea(name='description' required='required' id ='description'
                            placeholder='Describe your announce in a few lines ...' value=data.description)

                        .field
                        label.label(for='price') Price
                        .control
                        input.input(type='number' required='required' id='price' name='price' min='0' placeholder='Enter a price ...' value=data.price)

                        .field
                            .columns
                                .column
                                    label.label(for='firstDate') From
                                    .control
                                    input.input(type='date' required='required' id='firstDate' name='firstDate' min='2021-01-01' max='21-12-31'
                                        value=data.firstDate)
                                .column
                                    label.label(for='secondDate') to
                                    .control
                                    input.input(type='date' required='required' id='secondDate' name='secondDate' min='2021-01-01' max='2100-12-31'
                                        value=data.secondDate)

                        .field
                        label.label(for='pictures') Pictures
                        .control
                        input.input(type='file' id='pictures' name='pictures' multiple data-max-file-size='3MB'
                            accept='image/png, image/jpeg' value=data.pictures)

                        .field
                        .control
                        button.button.is-link(type='submit' value='submit' style='display: block; margin: 0 auto;') Submit